
<table class="table table-hover sortable" id="restaurantTable">
  <thead>
    <tr>
      <th>Client List</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      #foreach ($client in $clients)
      <td><a href="/index/$client.getId()">$clients.getName()</a></td>
    </tr>
      #end
  </tbody>
</table>
<br>

<a href="/newclients">Add A New Client</a>
<a href="/stylists">Search By Stylist</a>
