<h1>Add a client</h1>

<form action="/" class="form-horizontal" method="post">
  <label for="newClient">Enter Client Here:</label>
  <input id="newClient" name="newClient" type="text"><br>
<br>

 <button type="submit" class="btn btn-info">Add Client</button>
</form>
